<% if @tasa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tasa.errors.count, "error") %> No permite/n registrar la tasa y el plazo:</h2>

      <ul>
        <% @tasa.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>