<%= form_for(@banco) do |f| %>
  <% if @banco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banco.errors.count, "error") %> prohibited this banco from being saved:</h2>

      <ul>
      <% @banco.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <div class="field">
        <%= f.label :nombre %><br />
        <%= f.text_field :nombre, :class=>"mt-1"%>
      </div>
  </div>
  <div class="form-group">
      <div class="actions">
        <%= f.submit 'Guardar', :class=>'button success' %>
      </div>
  </div>
<% end %>
