  <legend>Listado de Plazos y Tasas</legend>
  <table id="tabla_plazos">
    <thead>
    <tr>
      <th>Plazo (Dias)</th>
      <th>Tasa</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @banco.tasas.each do |tasa| %>
        <tr>
          <td><%= tasa.plazo %></td>
          <td><%= tasa.tasa %></td>
          <td><%= link_to 'Eliminar', {:controller=>'bancos', :action=>'eliminar_plazo', :tasa_id=>tasa.id},:remote=>true, confirm: 'Seguro elimina este registro?' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

<script>
    $j(document).ready(function() {
        $j('#tabla_plazos').DataTable({
            responsive: true,
            colReorder: true,
            dom: 'Bfrt<"bottom"ilp<"clear">>',
            buttons: [
                {
                    extend: 'collection',
                    text: 'Exportar',
                    buttons: ['csv',
                        {
                            extend: 'excelHtml5',
                            title: 'Listado de Plazos y Tasas <%=@banco.nombre %>',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'print',
                            text: 'Imprimir',
                            title: 'Listado de Plazos y Tasas <%=@banco.nombre %>',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'copy',
                            text: 'Copiar',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            title: 'Listado de Plazos y Tasas <%=@banco.nombre %>',
                            exportOptions: {
                                columns: ':visible'
                            }


                        }


                    ]
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
                buttons: {
                    copyTitle: 'Copiado al Portapales',
                    copySuccess: {
                        _: '%d Lineas copiadas',
                        1: '1 linea copiada'
                    }
                }
            },
            stateSave: true
        });
    } );

</script>