jQuery("#msg_error_tasa").html("<%= escape_javascript(render(:partial => 'bancos/error_tasa')) %>");
<%if @tasa.errors.blank? %>
jQuery("#tasas").html("<%= escape_javascript(render(:partial => 'tabla_tasas')) %>");
jQuery('#tasa_tasa').val('');
jQuery('#meses').val('');
<% end %>

