
<h1 class="text-center">Listado de Bancos</h1>

<table id="tabla_banco">
<thead>
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @bancos.each do |banco| %>
  <tr>
    <td><%= banco.nombre %></td>
    <td><%= link_to 'Mostrar', banco %></td>
    <td><%= link_to 'Editar', edit_banco_path(banco) %></td>
    <td><%= link_to 'Eliminar', banco, method: :delete, data: { confirm: 'Seguro elimina este banco?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />
<%= link_to 'Nuevo Banco', new_banco_path, :class=>'button info' %>

<script>
    $j(document).ready(function() {
        $j('#tabla_banco').DataTable({
            responsive: true,
            colReorder: true,
            dom: 'Bfrt<"bottom"ilp<"clear">>',
            buttons: [
                {
                    extend: 'colvis',
                    text: 'Columnas Visibles'
                },
                {
                    extend: 'collection',
                    text: 'Exportar',
                    buttons: ['csv',
                        {
                            extend: 'excelHtml5',
                            title: 'Listado de bancos',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'print',
                            text: 'Imprimir',
                            title: 'Listado de bancos',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'copy',
                            text: 'Copiar',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            title: 'Listado de bancos',
                            exportOptions: {
                                columns: ':visible'
                            }


                        }


                    ]
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json",
                buttons: {
                    copyTitle: 'Copiado al Portapales',
                    copySuccess: {
                        _: '%d Lineas copiadas',
                        1: '1 linea copiada'
                    }
                }
            },
            stateSave: true
        });
    } );

</script>