<p id="notice"><%= notice %></p>
<h1 class="text-center">Datos del Banco</h1>

<fieldset class="fieldset_border">
<p>
  <b class="display2">Nombre:</b>
  <b class="display1"><%= @banco.nombre %></b>
</p>

</fieldset>

<%= link_to 'Editar', edit_banco_path(@banco) %> |
<%= link_to 'Regresar', bancos_path %>
<br/>
<br/>
<input id="mostrar_form_tasa" type="button" value="Definir Plazo y Tasa" class="button info">

<fieldset style="display:none" id="form_tasa" class="fieldset_border">
  <div id="msg_error_tasa"></div>
  <%= form_tag({:controller=>'bancos', :action=>'defino_plazo'}, :id => "form_imputacion", :remote=> true) %>
  <div class="row">
      <input name="tasa[banco_id]" type="hidden" id="tasa_banco_id" value="<%= @banco.id%>">
    <div class="cell-md-6">
        <label>Plazo (Meses):</label>
        <input name="meses" type="number" id="meses" class="mt-1">
      </div>
    <div class="cell-md-6">
        <label>Tasa:</label>
        <input name="tasa[tasa]" type="text" id="tasa_tasa" class="mt-1">
      </div>
  </div>
  <br/>
  <div class="form-group">
    <%= submit_tag 'Agregar',  :class=>'button success'  %>
    <input id="cancelar_form_tasa" type="button" value="Cancelar" class="button alert">
  </div>
</fieldset>
<fieldset id="tasas" class="fieldset_border">
  <%= render :partial=>'tabla_tasas'%>
</fieldset>


<script type="text/javascript">
    $j(document).ready(function()
    {
        $j("#mostrar_form_tasa").on( "click", function() {
            $j('#form_tasa').toggle();
        });
        $j("#cancelar_form_tasa").on( "click", function() {
            $j('#form_tasa').toggle();
        });
    });
</script>